.animate{
    font-family: 'Roboto', sans-serif;
   animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


.exploreButton{
    background-color:  rgb(108, 96, 191);
    animation: createBox 1s;
    height: 60px;
    width:206.11px;
    transition: all 1s;
  }
  .exploreButton:hover{
      background: rgb(76, 11, 217);
      height: 90px;
      width:250px;
  }
  @keyframes createBox{
    from{
        transform: scale(0);

    }
    to{
        transform: scale(1);
    }
}

body{
    background-image: url('../../Images/charlotteImage.jpg') ;
    background-attachment: fixed; 
    min-height: 100%; background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
  
}
