
.navBar{
  box-shadow: 10px 10px 20px #445;
  animation: all 2s ease-out
}


ul li a {
 display:block !important;
}

.pad{
  border-right: 1px solid rgb(76, 11, 217);
}
   
   ul li a:hover{
    border-bottom: 1px solid rgb(76, 11, 217);
   }

@media only screen and (max-width: 991px){

ul li a:hover, ul li a:focus{

    border-bottom: none;
}
}
