
.navlink{
  color:white !important;
  text-decoration: none;
  border-bottom: 0px solid #0D2840;
 
}

@media only screen and (max-width: 991px){
  
  .navlink{
    color:white !important;
    text-decoration: none;
    margin-left:4rem;
    width:7.5rem;
  }
}
