
.contactBtn{
    background: rgb(108, 96, 191);
}


.contactBtn:hover{
    background: #4C0BD9;
}
.contBody{
    box-shadow: 2px 10px 30px lightgray;
}

.cardBodyUp{
    animation: topToBottom ease-in 2s;
}

@keyframes topToBottom {
    0% {
       opacity: 1;
       transform: translateY(-500px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}