body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: lavender;

}

.cardBody,  .infoCard {
  
    border-radius: .5rem;
 
        animation: fadeInLeft ease 2s; 
        animation-iteration-count: 1; 
        animation-fill-mode: forwards; 
    
    }
   @keyframes fadeInLeft {
   0% {
      opacity: 1;
      transform: translateX(-1000px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}  
.header{
    font-family: 'Roboto', sans-serif;

}  
.image{
    border-radius: 50%;
    height: 220px;
    width: 200px;
  }


@media only screen and (max-width: 1100px) {
    .infoCard {
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    .image {
        height: 150px;
        width: 150px;
        text-align: center;
    }
}
