.skillsButton{
background: rgb(108, 96, 191);
text-decoration: none;
border: none;
width:100px;
height: 40px;
border-radius: .3rem;
color: white;
}
.skillsButton:hover{
  background:rgb(76, 11, 217);
}
.bootstrap{
  color:#563d7c;
}
.html{
  color:#f06529;
}
.react{
  color:lightskyblue
}