.skillsButton{
  background-color:  rgb(108, 96, 191);
}
.skillsButton:hover{
    background: rgb(76, 11, 217) ;
}
.bootstrap{
  color:#563d7c;
}
.html{
  color:#f06529;
}
.react{
  color:lightskyblue
}