.skillsButton{
background: rgb(108, 96, 191);
text-decoration: none;
border: none;
width:100px;
height: 40px;
border-radius: .3rem;
color: white;
}
.skillsButton:hover{
  background:rgb(76, 11, 217);
}
.bootstrap{
  color:#563d7c;
}
.html{
  color:#f06529;
}
.react{
  color:lightskyblue
}
.phoneView2, .MernView{
  height:100px;
}

@media screen and (max-width: 600px) {
  .phoneView {
    font-size: 60px;

  }
  .phoneView2{
    width: 60px;
    height: 60px;
  }
  .MernView{
    width:143px;
    height: 60px
  }
}